body{
    background-image: url(slike/bugatti.jpg);
    color:gold
}
a{
    color:chartreuse;
    text-decoration: none;
}
th{
    background-color: blueviolet;
}
td{
    background-color: black;
    color: orangered;
}
table{
    border: 3px solid orange;
}
h2{
    color: coral;
}

