body{
    background-image: url(slike/bmw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: moj_font;
    color: yellow;
}
a{
    color: chocolate;
    text-decoration: none;
}
h2{
    color: cornflowerblue;
    font-family: moj_font;
}
@font-face {
    font-family: moj_font;
    src: url(font/DeliusUnicase-Regular.ttf);
}
